@model (List<TheImage> ,List<Subject>,List<string>)
<button class="btn btn-primary" type="button" data-bs-toggle="modal" data-bs-target="#addImageModal">Add Image</button>
<button class="btn btn-warning" type="button" data-bs-toggle="modal" data-bs-target="#addSubjectModal">Add Subject</button>
<button class="btn btn-secondary" type="button" data-bs-toggle="modal" data-bs-target="#FilterBySubjectModal">Filter by Subject</button>

<div class="row row-cols-1 row-cols-md-3 g-4">
	@foreach (TheImage image in Model.Item1)
	{
		<div class="col">
			<div class="card h-100">
				<img src=@(image.IsUnlocked is false ? "~/Images/default.jpg" : "data:image/jpg;base64,"+Convert.ToBase64String(image.Image)) class="card-img-top h-100" />
				<div class="card-body">
					<input type="text" class="form-control" value="@image.Id" name="imageId" hidden />
					<h5 class="card-title">@image.Name</h5>
					<p class="card-text @(image.Subject is null ? "d-none" :"")">Subject: @image.Subject.Name</p>
				</div>
				<div class="card-footer">
					<blockquote class="blockquote">
						<div class="card-text">Created at: @image.CreationDate.ToString("dd/MM/yyyy HH:mm")</div>
					</blockquote>
					<button class="btn btn-primary @(!image.IsUnlocked ? "d-none" : "")" type="button" data-bs-toggle="modal" data-bs-target="#duplicateModal" onclick="changeWithId('@image.Id','imageIdFromDuplication')">Duplicate</button>
					<button class="btn btn-warning @(!image.IsUnlocked ? "d-none" : "")" type="button" data-bs-toggle="modal" data-bs-target="#updateImage" onclick="changeWithId('@image.Id','imageIdUpdateImage')">Update</button>
					<button class="btn btn-danger @(!image.IsUnlocked ? "d-none" : "")" type="button" data-bs-toggle="modal" data-bs-target="#deleteImage" onclick="changeWithId('@image.Id','imageIdDeleteImage')">Delete</button>
					<button class="btn btn-secondary @(!image.IsUnlocked ? "d-none" : "")" type="button" data-bs-toggle="modal" data-bs-target="#changeSubject" onclick="changeWithId('@image.Id','imageIdFromChangeSubject')">Change Subject</button>
					<button class="btn btn-primary @(!image.IsUnlocked ? "d-none" : "")" type="button" data-bs-toggle="modal" data-bs-target="#FilterModal" onclick="changeWithId('@image.Id','imageIdFromFilter')">Image Filter</button>
					<button class="btn btn-primary @(image.IsUnlocked ? "d-none" : "")" type="button" data-bs-toggle="modal" data-bs-target="#unlockImageModal" onclick="changeWithId('@image.Id','imageIdFromUnlocking')">Unlock image</button>
				</div>
			</div>
		</div>
	}
</div>

<div class="modal fade" id="duplicateModal">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="card-header justify-content-center">
				Insert password
			</div>
			<form asp-controller="Home" asp-action="DuplicateImage" method="post">
				<div class="modal-body">

					<div class="mb-3">
						<input type="text" class="form-control" name="imageIdFromDuplication" id="imageIdFromDuplication" hidden />
						<input type="text" class="form-control" name="passwordFromDuplication" id="passwordFromDuplication" />
						<label for="passwordFromDuplication" class="form-label">Password</label>
					</div>
				</div>
				<div class="card-footer">
					<button class="btn btn-primary" type="submit">Send</button>
				</div>
			</form>
		</div>
	</div>
</div>
<div class="modal fade" id="addImageModal">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header justify-content-center">
				Add image
			</div>
			<div class="modal-body">
				<form asp-controller="Home" asp-action="AddImage" enctype="multipart/form-data" method="post">
					<div class="vstack gap-3">
						<input type="text" class="form-floating" name="imageName" id="imageName" placeholder="Image Name" />
						<label for="imageName" class="form-label" name="imageName">Image Name</label>
						<input type="text" class="form-floating" name="ImagePassword" id="password" placeholder="Protect Image" />
						<label for="imagePassword" class="form-label" name="imagePassword">Image Password</label>
						<div class="input-group mb-3">
							<span class="input-group-text" id="subjects">Subjects</span>
							<select type="text" class="form-select" name="chosenSubject" id="chosenSubject">
								@{
									foreach (Subject subject in @Model.Item2)
									{
										<option value="@subject.Name">@subject.Name</option>
									}
								}
							</select>
						</div>

						<input type="file" id="image" name="image" accept="image/*" placeholder="Upload Photo" />
						<img src="~/Images/default.jpg" id="currentImageFromAddModal" width="100" height="100" />
					</div>
					<button class="btn btn-primary" type="submit">Add Image</button>
				</form>
			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="updateImage">
	<div class="modal-dialog">
		<div class="modal-header justify-content-center">
			Update Image
		</div>
	</div>
	<div class="modal-body">
		<form asp-controller="Home" asp-action="UpdateImage" method="post" enctype="multipart/form-data">
			<input type="text" class="form-control" name="imageId" id="imageIdUpdateImage" hidden />
			<div class="vstack gap-3">
				<input type="text" class="form-floating" name="imageName" id="imageName" placeholder="Image Name" />
				<label for="imageName" class="form-label" name="imageName">Image Name</label>
				<input type="text" class="form-floating" name="imagePassword" id="password" placeholder="Protect Image" />
				<label for="imagePassword" class="form-label" name="imagePassword">Image Password</label>
				<input type="file" id="image" name="image" accept="image/*" placeholder="Upload Photo" />
				<img src="~/Images/default.jpg" id="currentImageFromUpdateModal" width="100" height="100" />
			</div>
			<button class="btn btn-primary" type="submit">Update Image</button>
		</form>
	</div>
</div>

<div class="modal fade" id="deleteImage">
	<div class="modal-dialog">
		<div class="modal-header justify-content-center">
			Delete Image
		</div>
	</div>
	<div class="modal-body">
		<form asp-controller="Home" asp-action="DeleteImage" method="post" enctype="multipart/form-data">
			<input type="text" class="form-control" name="imageIdDeleteImage" id="imageIdDeleteImage" hidden />
			<div class="vstack gap-3">
				<input type="text" class="form-floating" name="imagePassword" id="imagePassword" placeholder="Password..." />
				<label for="imagePassword" class="form-label" name="imagePassword">Image Password</label>
			</div>
			<button class="btn btn-primary" type="submit">Delete Image</button>
		</form>
	</div>
</div>

<div class="modal fade" id="changeSubject">
	<div class="modal-dialog">
		<div class="modal-header justify-content-center">
			Change Subject
		</div>
	</div>
	<div class="modal-body">
		<form asp-controller="Home" asp-action="ChangeSubject" method="post">
			<input type="text" class="form-control" name="imageIdFromChangeSubject" id="imageIdFromChangeSubject" hidden />
			<div class="input-group mb-3">
				<span class="input-group-text" id="subjects">Subjects</span>
				<select type="text" class="form-select" name="chosenSubject" id="chosenSubject">
					@{
						foreach (Subject subject in @Model.Item2)
						{
							<option value="@subject.Name">@subject.Name</option>
						}
					}
				</select>
			</div>
			<button class="btn btn-primary" type="submit">Change Subject</button>
		</form>
	</div>
</div>

<div class="modal fade" id="addSubjectModal">
	<div class="modal-dialog">
		<div class="modal-header justify-content-center">
			Add Subject
		</div>
	</div>
	<div class="modal-body">
		<form asp-controller="Home" asp-action="AddSubject" method="post">
			<input type="text" class="form-control" name="subjectName" placeholder="Insert Subject" />
			<label for="subjectName" class="form-label">Subject Name</label>
			<button class="btn btn-primary" type="submit">Create Subject</button>
		</form>
	</div>
</div>

<div class="modal fade" id="FilterModal">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header justify-content-center">
				Choose a filter for your image
			</div>
			<div class="modal-body">
				<form asp-controller="Home" asp-action="ApplyImageFilter" method="post">
					<input type="text" class="form-control" name="imageIdFromFilter" id="imageIdFromFilter" hidden />
					<div class="input-group mb-3">
						<span class="input-group-text" id="filters">Filters</span>
						<select class="form-select" name="chosenFilter" id="chosenFilter">
							@{
								int count = 1;
								foreach (string filterOption in @Model.Item3)
								{
									<option value=@(count++)>@filterOption</option>
								}
							}
						</select>
					</div>
					<input type="text" class="form-control" name="passwordFromFilterImage" id="passwordFromFilterImage" />
					<label for="passwordFromFilterImage" class="form-label">Insert password</label>
					<button class="btn btn-primary" type="submit">Apply filter</button>
				</form>
			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="FilterBySubjectModal">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header justify-content-center">
				Choose filter option
			</div>
			<div class="modal-body">
				<form asp-controller="Home" asp-action="FilterBySubject" method="post">
					<div class="input-group mb-3">
						<span class="input-group-text" id="filterSelected">Filters</span>
						<select class="form-select" name="SelectedFilter" id="selectedFilter">
							@{
								foreach (Subject subject in @Model.Item2)
								{
									<option value=@subject.Id>@subject.Name</option>
								}
							}
						</select>
					</div>
					<button class="btn btn-primary" type="submit">Apply filter</button>
				</form>
			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="unlockImageModal">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header justify-content-center">
				Unlock Image
			</div>
			<div class="modal-body">
				<form asp-controller="Home" asp-action="UnlockImage" method="post">
					<input type="text" class="form-control" name="imageIdFromUnlocking" id="imageIdFromUnlocking" hidden />
					<input type="text" class="form-control" name="passwordFromUnlocking" />
					<label for="passwordFromUnlocking" class="form-label">Insert Password</label>
					<button class="btn btn-primary" type="submit">Submit</button>
				</form>
			</div>
		</div>
	</div>
</div>